charset "utf-8"

html {
  bottom: 0;
}

body {
  margin: 0;
  background-color: #dcdcdd;
  color: saddlebrown;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/**************main******************************/
.main {
  background-color: #dcdcdd;
  width: 100%;
  height: 440px;
}

.box {
  width: 100%;
  height: 440px;
}

/*************content-a**************************/
.box .content-a {
  width: 50%;
  height: 50px;
  margin-left: 600px;
  margin-top: 40px;
}

.box .content-a h2 {
  width: 200px;
  height: 30px;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
  background-color: #496189;
  border: 2px solid;
  color: white;
}

/*************content-b**************************/
.box .content-b {
  width: 50%;
  height: 50px;
  margin-left: 250px;
  margin-top: 100px;
}

.box .content-b h2 {
  width: 500px;
  height: 60px;
  font-size: 2.2rem;
  text-align: center;
  margin-left: 240px;
}

/*************content-c**************************/
.box .content-c {
  width: 200px;
  height: 60px;
  margin-left: 640px;
  margin-top: 150px;
}

.box .content-c h2 {
  font-size: 1.5rem;
  line-height: 150%;
}

.box .content-c a {
  color: saddlebrown;
}

.box .content-c a:hover {
  background-color: #d03c56;
  color: #fff;
}
